</main>   
<footer class="full footer">

  <div class="container">
    <div class="full footer__contentBox">
      <div class="row">
        <div class="col-lg-4">
          <a href="#" title="">
            <img class="footerLogo img-fluid" src="img/11.png" alt="">
          </a>
        </div>
        <div class="col-lg-8">
          <div class="footer__menuBox full">
            <div class="footer__menuBox--content">
              <h4 class="full">Xidmətlərimiz</h4>
              <a href="#" title="">
                <span class="full">
                  Metal konstruksiya
                </span>
              </a>
              <a href="#" title="">
                <span class="full">
                  Quraşdırma
                </span>
              </a>
              <a href="#" title="">
                <span class="full">
                 Layihələndirmə
               </span>
             </a>
           </div>
           <!-- end -->
           <div class="footer__menuBox--content">
            <h4 class="full">Məhsullarımız</h4>
            <a href="#" title="">
              <span class="full">
                Alüminium kompozit anellər
              </span>
            </a>
            <a href="#" title="">
              <span class="full">
                Sendviç panellər
              </span>
            </a>
            <a href="#" title="">
              <span class="full">
               Borula
             </span>
           </a>
           <a href="#" title="">
            <span class="full">
             Kabellər
           </span>
         </a>
       </div>
       <!-- end -->
       <div class="footer__menuBox--content">
        <h4 class="full">Xidmətlərimiz</h4>
        <a href="#" title="">
          <span class="full">
           Ünvan: Xocalı 55, AGA Center
         </span>
       </a>
       <a href="mailto:info@uniprocurment.az" title="">
        <span class="full">
          E-mail: info@uniprocurment.az
        </span>
      </a>
      <a href="tel:+994513552555" title="">
        <span class="full">
         Tel: +994 51 355 25 55
       </span>
     </a>
   </div>
   <!-- end -->
 </div>
</div>
</div>
</div>
</div>

</footer>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="libs/Font-Awesome/js/all.min.js"></script>
<script src="libs/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="libs/slick-1.8.1/slick/slick.min.js" ></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=05e56ffb-5467-460c-9e50-343761344f0c&lang=en_US" type="text/javascript">
</script>
<script src="js/all.min.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
  ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
